{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
{% endblock %}

{% block body %}
    <h1>Page spécifique</h1>
    <!-- Votre contenu -->
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
{% endblock %}
